workflow/ScraperParallelStateMachine.asl.json
{
  "QueryLanguage": "JSONata",
  "Comment": "A description of my state machine",
  "StartAt": "Bootstrap",
  "States": {
    "Bootstrap": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload.body %}",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:us-east-1:XXXXXXXXXXX:function:OpenLibraryFetcher:$LATEST",
        "Payload": {
          "page": 0
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Decider"
    },
    "Decider": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload.body %}",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:us-east-1:XXXXXXXXXXX:function:OpenLibraryDecider:$LATEST",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Pass",
          "Condition": "{% $states.input.nextAction = \"COMPLETE\" %}"
        },
        {
          "Next": "Map",
          "Condition": "{% $states.input.nextAction = \"FETCH\" %}"
        }
      ]
    },
    "Pass": {
      "Type": "Pass",
      "End": true
    },
    "Map": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Fetch",
        "States": {
          "Fetch": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload.body %}",
            "Arguments": {
              "FunctionName": "arn:aws:lambda:us-east-1:XXXXXXXXXXX:function:OpenLibraryFetcher:$LATEST",
              "Payload": "{% $states.input %}"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "End": true
          }
        }
      },
      "Items": "{% $states.input.fetchItems %}",
      "MaxConcurrency": 2,
      "Next": "Decider"
    }
  }
}
